<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Products</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
       <div id="header-placeholder"></div>
      <!-- End Sidebar -->
      <div id="sidebar-placeholder"></div>
     

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">PRODUCTS</p>
        </div>

        <div class="main-cards">
          <!-- Product cards will be dynamically inserted here -->
        </div>
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <script src="js/products.js"></script>
    <script src="js/header_siderbar.js"></script>  
  </body>
</html>
